/.DS_Store
/.localized
/Caffinder
/~$ vm,6w04ru.4.docx
/~$111221041.docx
/~$11221041-05.docx
/~$2屆資管系畢業專題展 科二甲.docx
/~$世新備審.docx
/~$各科小老師.docx
/~$寫作力.docx
/~$畢專.docx
/~$英文作業.docx
/世新備審資料
/大學獎狀:證明
/小論文
/應徵:報到資料